html, body {
    height: 100%;
}

body {
    font-family: sans-serif;
}

.container {
    width: auto;
    height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.file-drop-area{
    height: 300px;
    width: 300px;
    border: 3px dashed blue;
    display: flex;
    flex-direction:column;
    justify-content: space-around;
    align-items:center;
    margin-bottom: 40px;

}

.drag-drop-container{
    display:flex;
    flex-direction:column;
    justify-content:space-around;
    align-items:center;
}

.scan-file{
    background-color: darkblue;
    justify-self: center;
    margin-left: 100px;
    margin-right: 100px;
    border-radius: 20px;
    color:aqua;
    padding: 6px;

}
#drop-zone.drag-over {
    background-color: #f0f0f0;
    border-color: #999;
}

.file-input {
    border: 0;
    padding: 0;
    margin: 0;
    background: transparent;
    font: 13px sans-serif
}

.scan-link {
    background-color: darkblue;
    border-radius: 20px;
    color: aqua;
    padding: 3px;
    cursor: pointer;
}




