body{
    background-image:url('../images/Background/bunny.gif');
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat; background-size:cover;
    
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.file-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.file-drop-area {
    height: 250px;
    width: 250px;
    border: 3px dashed blue;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
    margin-right: 20px;
}

#drop-zone.drag-over {
    background-color: #f0f0f0;
    border-color: #999;
}

.file-input {
    background: transparent;
    font: 13px sans-serif
}

#fileResult {
    display:flex;
    justify-content:center;
    align-items:center;
    margin-bottom:20px;

    height: 250px;
    width: 250px;
    border: 3px dashed blue;
}

.scan-file {
    background-color: darkblue;
    margin-bottom: 100px;
    border-radius: 20px;
    color: aqua;
    padding: 4px;
    justify-self: center;
    align-self: center;
}

.ip-and-link-container {
    width: 600px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.ip-container,
.link-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.ip-input-container,
.link-input-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.scan-Ip,
.scan-link {
    margin-left: 3px;
    background-color: darkblue;
    border-radius: 20px;
    color: aqua;
    padding: 3px;
    cursor: pointer;
}
#ipResult,
#linkResult {
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 250px;
    border: 3px dashed blue;
}

#VT-ip-result-container{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.fileSpinner,
.linkSpinner,
.ipSpinner {
    border: 5px solid #f3f3f3;
    border-top: 5px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
    display: none;
    transform-origin = center;
}


@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


