#drop_zone {
    border: 5px solid blue;
    width: 200px;
    height: 100px;
}
.file-container{
    text-align: center;
}
.file-container button{
    margin: 0 auto;
    display: block;
}

.file-container label{
    margin: 0 auto;
    display: block;
}